#query {
	border: 1px solid #CCCCCC;
	border-radius: 16px 16px 16px 16px;
	color: #555555;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	line-height: 18px;
	width: 280px;
	height: 22px;
	margin-top: 3px;
	vertical-align: middle;
	padding-left:10px;
	background-repeat: no-repeat;
	background-position: right;
	float: left;
	
}

#query:focus {
	border-color: rgba(15, 161, 253, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px
		rgba(155, 216, 255, 0.8);
	outline: 0 none;
}

a{
	color: #09d;
	text-decoration: none;
	border: 0;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
}

#search {
	background-image: url("../../../images/common/search.png");
	cursor: pointer;
	height: 22px;
	left: 810px;
	position: relative;
	display: block;
	width: 22px;
	top:5px;
	z-index: 99;
}

.refund{
	float: left;
	border-radius: 3px;
	cursor: pointer;
	width: 85px;
	height: 32px;
	background-color: #3c6ab8;
	color: #fff;
	font-family: ΢���ź�;
	font-size: 12px;
	line-height: 32px;
	text-align: center
}
.checked{
	color: #0000FF;
	font-weight: bold;
}
.selectfont{
	font-size: 12px; 
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
}
.refund:hover {
	background-color: #537fc8;
	color: #FFF;
}
.btn-renewal {
    background-color: #00CBAE;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: ΢���ź�;
    font-size: 12px;
    line-height: 28px;
    margin-left: 5px;
    text-align: center;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00),
		color-stop(100%, #6b9c00));
	background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
	background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
	background: -o-linear-gradient(top, #8fcf00, #6b9c00);
	background: linear-gradient(top, #8fcf00, #6b9c00);
	border-color: #00CBAE;
	color: white;
	text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}
.btn-renewal:hover {
    background-color: #18E0C3;
    color: #FFFFFF;
}
.btn-normal {
    background-color: #3C6AB8;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: ΢���ź�;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
    text-align: center;
    width: 86px;
}
.btn-normal:hover {
    background-color: #537FC8;
    color: #FFFFFF;
}
.btn-disable {
    background-color: #C1C1C1;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    font-family: ΢���ź�;
    font-size: 12px;
    line-height: 28px;
    margin-left: 5px;
    text-align: center;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00),
		color-stop(100%, #6b9c00));
	background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
	background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
	background: -o-linear-gradient(top, #8fcf00, #6b9c00);
	background: linear-gradient(top, #8fcf00, #6b9c00);
	border-color: #C1C1C1;
	color: white;
	text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

.btn-disable:hover{
	background-color: #C1C1C1;
    color: #FFFFFF;
}

.tr {
	line-height: 20px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	color:#4d6587;
	font-size:14px;
}

.tr:hover{
	background-color: #fff;
}

.re_button {
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px
		2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px
		rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px
		rgba(0, 0, 0, 0.2);
	background-color: #eeeeee;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb),
		color-stop(100%, #e1e1e1));
	background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
	background: linear-gradient(top, #fbfbfb, #e1e1e1);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	border: 1px solid #d4d4d4;
	height: 32px;
	line-height: 32px;
	padding: 0px 25.6px;
	font-weight: 300;
	font-size: 14px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #666666;
	text-shadow: 0 1px 1px white;
	margin: 0;
	text-decoration: none;
	text-align: center;
}

.re_button-rounded {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.re_button-primary_renew {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5),
		color-stop(100%, #008db2));
	background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
	background: -moz-linear-gradient(top, #a0e800, #6b9c00);
	background: -o-linear-gradient(top, #a0e800, #6b9c00);
	background: linear-gradient(top, #a0e800, #6b9c00);
	background-color: #7db500;
	/* border-color: #5a8200; */
	border-color: #7db500;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

.re_button-primary_disable {
}

.re_button-primary_normal {
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5),
		color-stop(100%, #008db2));
	background: -webkit-linear-gradient(top, #00b5e5, #008db2);
	background: -moz-linear-gradient(top, #00b5e5, #4b90e6);
	background: -o-linear-gradient(top, #00b5e5, #008db2);
	background: linear-gradient(top, #00b5e5, #008db2);
	background-color: #00a1cb;
	border-color: #007998;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

.re_button-small {
	font-size: 12px;
	height: 25.6px;
	line-height: 25.6px;
	padding: 0px 20.48px;
}

.re_button-primary_normal:hover{
   cursor: pointer;
}
.re_button-primary_disable:hover{
	cursor: pointer;
}
.re_button-primary_renew:hover{
    cursor: pointer;
}

.reclearfloat{
	float: none;
	margin-left: 5px;
}
#renew4Need{
	font-size:13px;
	width:400px;
	height:100px;
	margin-top:15px;
	margin-left:15px;
	padding-left:5px;
}

#renew_for_need_label{
	margin-left:5px;
	float:left;
	width:
}
#buy_period{
	float:left;
	font-size:12px;
}

#renew_for_need_price{
	float:left;
	margin-left:5px;
	margin-top:10px;
	width:380px;
}

#price_label{
	float:left;
}
#price_amount{
	float:left;
}
#price_unit{
	float:left;
}
#account_balance_amount{
	float:left;
}
#account_balance_label{
	float:left;
}

#account_balance_div{
	width:380px;
	float:left;
	margin-left:5px;
	margin-top:10px;
}