.ui-dialog{
	padding : .1em !important;
}
.ui-dialog-titlebar{
	font-size : 14px!important;
	padding: .2em .5em!important;
}
.ui-dialog-buttonpane{
padding: .2em 1em .3em .4em!important;
}
.ui-button{
	margin: .3em .4em .3em 0!important;
}
.ui-dialog-content{
	padding: 0 .5em!important;
	min-height: 65px!important;
	font-size:12px;
	
}
.ui-dialog-content p{
	margin-top:20px;
}
.ui-dialog-content span{
	margin-top: 5px!important;
}
.ui-button span{
	padding: .2em .9em!important;
	font-size : .9em!important;
}
.ui-widget {
font-family: Trebuchet MS,Tahoma, Verdana, Arial, sans-serif!important;
}
.ui-icon-alert{
}